html, body {
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  color:#ffffff;
  overflow: hidden;
  font-family: 'Public Sans', sans-serif;
}

#map {
    height: 87%;
    width: 100vw;
    background-color: #ffffff;  
}

.about {
    height: 90%;
    width: 100 vw;
}

.about_title {
  left: 2vw;
  font-size:2vw;
  color: #333;
  font-family: 'Public Sans', sans-serif;
  padding: 0px 0px 0px 30px;
}

.about_text {
  left: 2vw;
  font-size:1.25vw;
  color: #333;
  font-family: 'Public Sans', sans-serif;
  padding: 0px 20px 20px 30px;
}

a {
    color: #00AAE7;
  }

/* Use float property to make two-column layout */
.first-column {
    float: left;
    width: 48%;
    padding-right: 20px;
}
.column {
    float: left;
    width: 48%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the header with a grey background and some padding */
 .header {
  overflow: hidden;
  background-color: #333;
  padding: 20px 10px 30px;
  height: 10px;
}

 .header_txt {
     color:#00AAE7;
     font-size:2vw;
     font-weight: 700 ;
     font-family: 'Public Sans', sans-serif;
 }

.logo_txt {
    color:white;
    font-size:1.5vw;
    font-family: 'Public Sans', sans-serif;
}

/* Create three equal columns that floats next to each other */
#cold_water_title_span {
    position: fixed;
    left: 2vw;

}

#department_span {
    position: fixed;
    right: 5vw;
    padding: 5px;
}

#logo_span{
    position: fixed;
    right: 1vw;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5vw 1vw 0.5vw 2vw;
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.25vw;
}

/* Change color on hover */
.topnav a:hover{
    /* background-color: #f6931f; */
    color: #00AAE7;
}


#deep{
    float:right;
    width:2 vw;
    max-width:3vw;
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #9ECF7C;
    color: #0D2D6C;
    font-size: 1vw;
}

.legend {
    line-height: 18px;
    color: #0D2D6C;
    font-family: 'Public Sans', sans-serif;
    padding: 1% 10%;
    background: #9ECF7C;
    box-shadow: 0 0 15px #0D2D6C;
    border-radius: 5px;
    width: 18vw;
    z-index: 1000;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.legend p {
    font-size: 1vw;
    line-height: 20px;
    margin: 0;
}

.legend .circle {
    border-radius: 50%;
    background: #f6931f;
}

.legend .poly {
  background:#00AAE7;
}

.legend .dataupdate {
    font-size: 0.9vw;
    font-weight: 400;
    font-style: italic;
  }

.legend .title{
    font-size: 1vw;
    font-weight: bold;
    font-style: italic;
}

@media only screen and (max-width: 800px){
    .first-column,
    .column {
        width: 100%;
    }
  }

  @media only screen and (max-width: 800px){
    .first-column,
    .column {
        width: 100%;
    }
  }

  
  
  
